<!-- example from
https://github.com/AngularTemplates/angular-forms-and-validations/blob/master/src/app/form-component/form.component.html
is potentially helpful and contributed to the shaping of this example -->
<div class="add-todo">
  <form [formGroup]="addTodoForm">
    <h2 mat-dialog-title>New Todo</h2>

    <form [formGroup]="options">
      <div>
        <mat-radio-group #input id="statusField" [(ngModel)]="data.todo.status" formControlName="status">
          <mat-radio-button [value]=false>Incomplete</mat-radio-button>
          <mat-radio-button [value]=true>Complete</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>

    <mat-dialog-content layout="column">

      <mat-form-field flex id="contentInputBox">
        <input matInput #input id="contentField" type="string" placeholder="Content" [(ngModel)]="data.todo.body" formControlName="content"
               required>
        <mat-error *ngFor="let validation of add_todo_validation_messages.content">
          <mat-error class="error-message" id="content-error"
                     *ngIf="addTodoForm.get('content').hasError(validation.type) && (addTodoForm.get('content').dirty || addTodoForm.get('content').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field flex>

        <input matInput #input id="ownerField" type="string" placeholder="Owner" [(ngModel)]="data.todo.owner"
               formControlName="owner" required>
        <mat-error *ngFor="let validation of add_todo_validation_messages.owner">
          <mat-error class="error-message" id="owner-error"
                     *ngIf="addTodoForm.get('owner').hasError(validation.type) && (addTodoForm.get('owner').dirty || addTodoForm.get('owner').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field flex>
        <input matInput #input id="categoryField" type="string" placeholder="Category" [(ngModel)]="data.todo.category"
               formControlName="category">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions layout="row">
      <!-- [mat-dialog-close]="data.to-do" causes the data.to-do object to be returned when the dialog is closed. -->
      <button mat-raised-button id="confirmAddTodoButton" [mat-dialog-close]="data.todo" type="button" color="primary"
              [disabled]="!addTodoForm.valid">Add Todo
      </button>
      <!-- [mat-dialog-close]="null" causes null to be returned when the dialog is closed. -->
      <button mat-raised-button id="exitWithoutAddingButton" [mat-dialog-close]="null" type="button">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
