<div>
  <button id="addNewTodo" mat-raised-button (click)="openDialog()">Add New Todo</button>
</div>


<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="todo-list-title">Todos</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            id="todoOwner" #input
            type="text"
            placeholder="Filter by owner"
            (input)="updateOwner($event.target.value)">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            id="todoStatus" #input
            type="number"
            placeholder="Filter by age"
            (input)="updateStatus($event.target.value)">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            id="todoCompany"
            #input type="search"
            placeholder="Search for category"
            [(ngModel)]="todoCategory"/>
          <button mat-button id="categoryClearSearch" type="button" *ngIf="todoCategory" matSuffix mat-icon-button
                  aria-label="clear" (click)="todoCategory='';loadService()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">Submit
        </button>

        <mat-accordion *ngIf="todos; else todosError">
<!--          <mat-expansion-panel #elem class="todos" [id]="todo.email" [expanded]="this.isHighlighted(todo)"-->
<!--                               *ngFor="let todo of this.filteredTodos">-->
<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title matTooltip="email: {{todo.email}}">{{todo.name}}</mat-panel-title>-->
<!---->
<!--            </mat-expansion-panel-header>-->
<!--            <mat-panel-description>Works for {{todo.company}}</mat-panel-description>-->
<!--            <mat-panel-description>Age: {{todo.age}} years old</mat-panel-description>-->
<!--          </mat-expansion-panel>-->
        </mat-accordion>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #todosError>
          <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
